

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-stock-div{
  height: 275px;
}

.slick-next:before, .slick-prev:before {
  color: #111111 !important;
}

.slick-prev {
  left: -5% !important;
  z-index: 1;
}
.slick-next {
  right: -5% !important;
  z-index: 1;
}

/*
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 2px 2px 2px #aaa;
}
*/

#navbar-custom-font {
  font-family: 'Sofia';font-size: 30px;
}